= form_for(@groupscore, 
  :url => homework_view_and_score_evaluated_path(:grouper => @grouper, :task => @task), 
  :remote => true) do |f|

  .normal-form
    #close-form= image_tag 'back.png'

    .field
      = f.label :score
      = f.number_field :score

    .field
      = f.label :explanation
      = f.text_area :explanation

    .actions
      = f.submit
