
// Set the deploy link
$('#deploy-link').empty();
$('#deploy-link').append(
  '<%= image_tag 'way.png' %>' +
  '<%= link_to "Deploy Link of #{User.find_by_student_id(@student_id).name}", 
  "#{@task_id}/#{@student_id}/#{@homework.url}" %>'
);

// Set the download link
$('#zip-download').empty();
$('#zip-download').append(
  '<%= link_to image_tag('zip.png'), 
  "#{@task_id}/#{@student_id}/#{@homework.file_pack}.zip" %>'
);

// Get the current file tree of a specific student.
// Empty file trees no matter it has been expanded or not.
var file_trees = $('.file-tree');
for (var i = 0; i < file_trees.length; ++i)
  $(file_trees[i]).empty();

var current_file_tree = $('#<%= @student_id %>');

current_file_tree.empty();

<% @file_tree.each do |tree_item| %>
  // If the tree item is a directory, then the process can be keep going.
  <% if tree_item[:type] == 'dir' %>
      current_file_tree.append(
        '<li>' + 
        '<%= image_tag 'folder.png' %>' +
        '<%= link_to tree_item[:name], homework_view_and_score_file_tree_path(
            :path => tree_item[:path], 
            :student_id => @student_id,
            :task_id => @task_id
          ), 
        :remote => true %>' +
        '</li>'
      );
  <% end %>

  // If the tree item is a file, then the link will be directed to the show_source controller.
  <% if tree_item[:type] == 'file' %>
      current_file_tree.append(
        '<li>' + 
        '<%= image_tag 'file.png' %>' +
        '<%= link_to tree_item[:name], homework_view_and_score_show_source_path(
            :path => tree_item[:path]
          ), 
        :remote => true %>' +
        '</li>'
      );
  <% end %>
<% end %>


file_tree_hover_effect = (function() {

  var links = $('.file-tree li a');

  for(var i = 0; i < links.length; ++i) {

    var link = links[i];
    $(link).hover(function() { 
      $(this).parent().css({
        'backgroundColor':'#eee',
        'box-shadow':'2px 5px 5px rgba(150, 150, 150, 0.2) inset'
      });
    }, function(){ 
      $(this).parent().css({
        'backgroundColor':'#eee',
        'box-shadow':'0 0 0 #eee inset'
      });
    })

  }
})();
