
.homework-view-and-score
  .grouper-list
    %ul.grouper-file-tree-list
      / The file tree of the directory of the current user.
      %li.file-tree-title
        = image_tag 'user.png'
        = link_to "#{@user.name}",
          homework_view_and_score_file_tree_path(:path => "#{::Rails.root}/public/#{@task.id}/#{@user.student_id}",
            :student_id => @user.student_id,
            :task_id    => @task.id),
          :remote => true
        / Final score form trigger button
        - if is_current_user_teacher
          = link_to image_tag('certificate.png'),
            homework_view_and_score_teacher_evaluate_path(:grouper => @user, :task => @task), :remote => true
  
      %li
        %ul.file-tree{ :id => @user.student_id }
  
      / The file tree of the directory of the corresponding grouper.
      - if @groupers
        - @groupers.each do |grouper|
          %li.file-tree-title
            = image_tag 'user.png'
            = link_to "#{grouper.name}",
              homework_view_and_score_file_tree_path(:path => "#{::Rails.root}/public/#{@task.id}/#{grouper.student_id}",
                :student_id => grouper.student_id,
                :task_id    => @task.id),
              :remote => true
            / Group score form trigger button
            - if @task.due > Time.now and get_homework(grouper, @task)
              = link_to image_tag('certificate.png'), 
                homework_view_and_score_evaluate_path(:grouper => grouper, :task => @task), :remote => true
            / Final score form trigger button
            - if is_current_user_teacher
              = link_to image_tag('certificate.png'), 
                homework_view_and_score_teacher_evaluate_path(:grouper => grouper, :task => @task), :remote => true
  
          %li
            %ul.file-tree{ :id => grouper.student_id }

  #deploy-link-area
    #deploy-link
      = image_tag 'way.png'
      - if @homework
        = link_to "Deploy Link of #{@user.name}", 
          "#{@task.id}/#{@user.student_id}/#{@homework.url}"
      - if not @homework
        %span.warning You haven't handin the homework.

    #file-upload
      - if @task.due > Time.now
        = link_to image_tag('cloud_up.png'), new_homework_path(:task_id => @task.id), :remote => true

    #zip-download
      - if @homework
        = link_to image_tag('zip.png'),
          "#{@task.id}/#{@user.student_id}/#{@homework.file_pack}.zip"

  #source-code
    %pre
      %h2 SOURCE CODE
  
  #evaluate-form

  #homework-handin
