#notice
  - if notice
    %p= notice

.tasks
  - @tasks.each do |task|
    .task
      .task-title
        %h2= link_to task.name, task
        - if task.due > Time.now
          %span.deadline= "[Deadline: #{task.due.strftime('%Y %B, %d 00:00')}]"
        - else
          %span.deadline [Dued]

        - if @user.role == 'TEACHER' or @user.role == 'ADMIN'
          .task-operations
            %span.task-operation
              =image_tag 'writing.png'
              = link_to 'edit', edit_task_path(task)
            %span.task-operation
              =image_tag 'trash.png'
              =link_to 'delete', task, :confirm => 'Are you sure?', :method => :delete

      .task-updated= task.updated_at.strftime('%A %B, %d')
      .task-requirement= task.requirement

      .tasks-comments
        - if @user
          %span.add-comment= link_to 'Add a comment', new_task_comment_path(task)
          |
        - if task.comments.length > 0
          %span.comments-control= pluralize(task.comments.length, 'Comment')
        - if task.comments.length == 0
          %span No comments

        %ul.tasks-comments-list
          = render :partial => 'comments/comment', :collection => task.comments
