.task
  .task-title
    %h2= @task.name
    %span.deadline= "[Deadline: #{@task.due.strftime('%Y %B, %d 00:00')}]"
  .task-updated= @task.updated_at.strftime('%A %B, %d')
  .task-requirement= @task.requirement

  .tasks-comments
    - if @user
      %span.add-comment= link_to 'Add a comment', new_task_comment_path(@task)
      |
    - if @task.comments.length > 0
      %span.comments-control= pluralize(@task.comments.length, 'Comment')
    - if @task.comments.length == 0
      %span No comments

    %ul.tasks-comments-list-in-show
      = render :partial => 'comments/comment', :collection => @task.comments
