.task
  .task-title
    %h2= @task.name
    - if @task.due > Time.now
      %span.deadline= "[Deadline: #{@task.due.strftime('%Y %B, %d 00:00')}]"
    - else
      %span.deadline [Dued]

    - if @user.role == 'TEACHER' or @user.role == 'ADMIN'
      .task-operations
        %span.task-operation
          =image_tag 'writing.png'
          = link_to 'edit', edit_task_path(@task)
        %span.task-operation
          =image_tag 'trash.png'
          =link_to 'delete', @task, :confirm => 'Are you sure?', :method => :delete

  .task-updated= @task.updated_at.strftime('%A %B, %d')
  .task-requirement= sanitize(markdown(@task.requirement))

  .tasks-comments
    - if @user
      %span.add-comment= link_to 'Add a comment', new_task_comment_path(@task), :remote => true
      |
    - if @task.comments.length > 0
      %span.comments-control= pluralize(@task.comments.length, 'Comment')
    - if @task.comments.length == 0
      %span No comments

    #add-post-reply.comment-form

    %ul.tasks-comments-list-in-show
      = render :partial => 'comments/comment', :collection => @task.comments
