<%= form_for(@homework) do |f| %>
  <% if @homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
      <% @homework.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_id %><br />
    <%= f.number_field :task_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :group_grade %><br />
    <%= f.number_field :group_grade %>
  </div>
  <div class="field">
    <%= f.label :final_grade %><br />
    <%= f.number_field :final_grade %>
  </div>
  <div class="field">
    <%= f.label :group_rank %><br />
    <%= f.number_field :group_rank %>
  </div>
  <div class="field">
    <%= f.label :final_rank %><br />
    <%= f.number_field :final_rank %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
