<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @homework.task_id %>
</p>

<p>
  <b>User:</b>
  <%= @homework.user_id %>
</p>

<p>
  <b>Group grade:</b>
  <%= @homework.group_grade %>
</p>

<p>
  <b>Final grade:</b>
  <%= @homework.final_grade %>
</p>

<p>
  <b>Group rank:</b>
  <%= @homework.group_rank %>
</p>

<p>
  <b>Final rank:</b>
  <%= @homework.final_rank %>
</p>

<p>
  <b>Url:</b>
  <%= @homework.url %>
</p>


<%= link_to 'Edit', edit_homework_path(@homework) %> |
<%= link_to 'Back', homeworks_path %>
