- if flash[:notice]
  %p= flash[:notice]

.admin-functions
  %ul
    %li= link_to 'Add a post', new_post_path
    %li= link_to 'Add a group', new_group_path 
    %li= link_to 'View groups', groups_path
    %li= link_to 'View tasks', tasks_path
