- if flash[:notice]
  %p= flash[:notice]
 
%p Groups Managerment
%ul
  %li= link_to 'View the groups', groups_path
  %li= link_to 'Set group operation due time', edit_group_due_date_path(@group_due_date)
  %li= link_to 'Forbid group operation now', forbid_group_operation_path

%p Students Managerment
%ul
  %li= link_to 'View the students', users_path

%p Tasks Managerment
%ul
  %li= link_to 'View the tasks', tasks_path


#main-container
