.comment
  .subcomment
    .comment-info
      = comment.created_at.strftime('%Y-%m-%d %H:%M:%S')
      by #{comment.user.name}
    .comment-content
      = comment.content

    - if @user
      %p.add-reply= link_to 'Add a Reply', new_comment_comment_path(comment)
  - unless comment.comments.empty?
    %ul.comment-list
      = render :partial => 'comments/comment', :collection => comment.comments
