<!DOCTYPE html>
<html>
<head>
  <title>Taskium</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <h1>Taskium</h1><span class="subtitle">| The Aristotle'S Knowledge Inside Ultimate Mass</span>
    <div class="admin-bar">
      <% if session[:user_id] %>
        <li id="logout">
          <%= link_to "logout(#{@user.name})", logout_url%>
        </li>
      <% end %>
      <% unless session[:user_id] %>
        <li id="login">
          <%= link_to 'login', login_url  %>
        </li>
      <% end %>
      <li id="register">
        <%= link_to 'register', register_url %>
      </li>
    </div>
  </div>

  <div id="mainContent">
    <%= yield %>
  </div>

  <div id="footer">
    <p>Powered by Rails</p>
    <p>Copyright &copy; 2011 ~ 2012</p>
  </div>

</body>
</html>
