.post
  .post-title
    %h2= @post.title
    %span.post-author
      by #{@post.user.name}

    - if @user == @post.user or @user.role == 'TEACHER' or @user.role == 'ADMIN'
      .post-operations
        %span.post-operation
          =image_tag 'writing.png'
          = link_to 'edit', edit_post_path(@post)
        %span.post-operation
          =image_tag 'trash.png'
          =link_to 'delete', @post, :confirm => 'Are you sure?', :method => :delete


  .post-updated= "on #{@post.updated_at.strftime('%A %B, %d')}"
  .post-content= sanitize(markdown(@post.content))
  .post-category
    %span.sub-title Category: 
    = @post.category.name
  .post-tags
    %span.sub-title Tags: 
    - @post.tags.each do |tag|
      = tag.name 
  .posts-comments
    - if @user
      %span.add-comment= link_to 'Add a comment', new_post_comment_path(@post), :remote => true
      |
    - if @post.comments.length > 0
      %span.comments-control= pluralize(@post.comments.length, 'Comment')
    - if @post.comments.length == 0
      %span No comments

    #add-post-reply.comment-form

    %ul.posts-comments-list-in-show
      = render :partial => 'comments/comment', :collection => @post.comments
