<div id="notice">
  <% if notice %>
    <p><%= notice %></p>
  <% end %>
</div>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-title">
        <h3><%= post.title %><h3>
        <span class="post-author">
          by <%= post.user.name %>
        </span>
      </div>
      <div class="post-updated">
        <%= post.updated_at %>
      </div>
      <div class="post-content">
        <%= post.content %>
      </div>
      <div class="post-category">
        Category: <%= post.category.name %>
      </div>
      <div class="post-tags">
        Tags: 
        <% post.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </div>
      <div class="posts-comments">
        <% if @user %>
          <p><%= link_to 'Add a comment', new_post_comment_path(post) %></p>
        <% end %>
        <p>Comments:</p>

        <ul class="posts-comments-list">
          <%= render :partial => 'comments/comment', :collection => post.comments %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
